[2021-01-06 07:19] praveenscience opened #1 "Add a Living Documentation to the Repository"
The product owner Madhvi has created an excellent set of contents, but that's in the Google Drive. Please create the contents into markdown and use `Documentation.md` as the file name in the root.

You can access the [original documentation folder](https://drive.google.com/folderview?id=1NTbv1lSR02sRipKuwuJQp3ZQ-_3dHoDA) here.

[2021-01-06 07:27] praveenscience commented on #1
Claimed by Deepthi. Waiting for them to comment.

[2021-01-06 07:28] Amit366 commented on #1
So is it just writing the original folder into markdown file??

[2021-01-06 07:29] Amit366 commented on #1
If yes then I can do it.

[2021-01-06 07:30] praveenscience commented on #1
Yep @Amit366 as discussed in Discord. 😁

![image](https://user-images.githubusercontent.com/1830380/103741454-01bfed00-4ff1-11eb-873e-ab859e6179ed.png)

And I guess you didn't see my previous comment:

![image](https://user-images.githubusercontent.com/1830380/103741480-0dabaf00-4ff1-11eb-8817-31f6a0f071b2.png)

[2021-01-06 07:33] Deepthi2001 commented on #1
@praveenscience Yes I'm taking it up. Thankyou!

[2021-01-06 07:36] praveenscience commented on #1
@Deepthi2001 You may start working on it.

[2021-01-06 14:42] #1 closed

[2021-01-07 08:17] praveenscience opened #3 "Create a Contributing Readme file similar to Rezume project!"
I had created something like this before: [Contributing · CatsInTech/Rezume](https://github.com/CatsInTech/Rezume/blob/master/CONTRIBUTING.md).

I want someone to use their creative ideas to create a similar one to this project. We do have a [video](https://youtu.be/GaosMNyPKZc?list=PLO_Y0rsm7b3Yc8FtNhCuD5TO0QM8CnTZj) of the same too! 😁

Make it awwwwesome!

[2021-01-07 08:18] akrish4 commented on #3
kindly assign me @praveenscience

[2021-01-07 08:18] praveenscience commented on #3
Sure, go for it @akrish4! 😁

[2021-01-07 13:07] vilsi12 commented on #3
Can you assign me

[2021-01-07 13:49] Rayman-Sodhi commented on #3
Hello Sir,Can I work on this issue?

[2021-01-07 13:50] Utkarsh299-tech commented on #3
Hey everyone, this issue has already been assigned, I think.
Let's wait for another one!

[2021-01-07 14:03] Rayman-Sodhi commented on #3
okay so we cannot start working(as an SWOC participant ) if we are not assigned with the task?

[2021-01-08 06:01] akrish4 commented on #3
#4  PR

[2021-01-08 08:15] praveenscience commented on #3
@vilsi12 and @Rayman-Sodhi Please kindly watch [E03: Yes, We're In Trouble when Merge Conflicts Occur! Let's resolve them Gracefully](https://youtu.be/GaosMNyPKZc?list=PLO_Y0rsm7b3Yc8FtNhCuD5TO0QM8CnTZj) so that you know how the GitFlow generally works in Open Source Projects.

[2021-01-09 05:44] Sloth-Panda opened #5 "Let's create a Code of Conduct Document."

[2021-01-09 05:44] Sloth-Panda commented on #5
if this file needs to be added let me know

[2021-01-09 11:45] tharunc opened #6 "ADD ISSUE_TEMPLATE"
Hello there,
           I would like to add an issue template for your repository. This template would have four issues namely bug, documentation, feature, proposal. Kindly assign me this issue as a part of **DWOC**.
THANK YOU

[2021-01-09 13:29] ProPratik1405 commented on #5
What should be there in this File and how can i Help?

[2021-01-09 17:45] lokeshvenkatesan commented on #5
Kindly allocate this issue 5 to me.

[2021-01-09 18:02] praveenscience commented on #5
Let's discuss if we need to add it in the contribution itself. Coz the contribution does have a CoC.

[2021-01-09 21:49] praveenscience commented on #6
Please carry on @tharunc

[2021-01-12 06:44] tharunc commented on #5
Can you please assign me this issue ?

[2021-01-12 06:50] Sloth-Panda opened #9 "Creation of pr template"
Can I add a pr template??

[2021-01-14 04:52] Pranjal-2001 commented on #5
Could you please assign it to me?

[2021-01-14 18:23] muthuannamalai12 opened #10 "Integrate Welcome Bot"
Hello there,
I can add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time as a part of DWOC. Please assign me this issue.
For reference, kindly check out: https://github.com/apps/welcome

THANK YOU

[2021-01-14 18:24] muthuannamalai12 commented on #10
I would love to work on this issue as a part of DWOC. Kindly assign it to me.

[2021-01-20 18:19] Utkarsh299-tech opened #13 "Typo in README.md"
Line in README.md:
**Be awesome and read the follow the guidelines.**

Not sure about this but I think this sentence seems a little bit odd to me in README.md.  If this requires any changes or is there any typo that needs to be fixed? If any, please do tell me. I would be happy to fix it. Thanks!

For your reference, the screenshot has been attached below:

<img width="827" alt="typo" src="https:/

[2021-01-20 19:59] atharvagadkari05 commented on #5
I would like to make some changes in code of conduct.
Can you please assign me???

[2021-01-21 10:44] praveenscience opened #15 "Implement Apple Style Headers for the App"
Shall we create an Apple Style headers? Would like it to have the same look at feel. Breakpoint to mobile version at `767px` and above that, i.e., `768px` and above should be full.

Desktop:

![image](https://user-images.githubusercontent.com/1830380/105339564-b9015a00-5bd4-11eb-8c92-a17116bea583.png)

Mobile:

![image](https://user-images.githubusercontent.com/1830380/105339582-bc94e100-5bd4-11eb

[2021-01-21 10:53] pritamp17 commented on #15
@praveenscience I would like to work on this issue could you assign me this?

[2021-01-21 10:54] praveenscience commented on #15
@pritamp17 Please carry on. Plus, can you tell me you're from SWoC or DWoC or both? 😁

[2021-01-21 10:55] praveenscience commented on #13
Assigning it to @TeeVenDick.

[2021-01-21 10:55] praveenscience commented on #10
Cool, thanks for bringing this up. 😁

[2021-01-21 10:56] praveenscience commented on #10
Wait, isn't this same as #6?

[2021-01-21 10:59] muthuannamalai12 commented on #10
No @praveenscience Issue template shows when we open an issue but this bot welcomes the new contributors to this project as mentioned in the photo below
![Welcome](https://user-images.githubusercontent.com/64524822/105342062-e1557c80-5c05-11eb-9028-85d36e491358.png)

[2021-01-21 11:01] praveenscience commented on #9
I guess we do have one... I just saw a PR about it. Can you kindly check #8, and if it doesn't address it, then this issue is yours! Let me know after checking it.

[2021-01-21 11:01] praveenscience commented on #10
@muthuannamalai12 I do understand. My question was doesn't it also have PR_TEMPLATE as well? Oh if they're different, then yes, go for it.

[2021-01-21 11:09] Sloth-Panda commented on #9
@praveenscience  sir that's different an issue template is different from  a pr template

[2021-01-21 11:11] praveenscience commented on #9
It's yours man... Go for it.

[2021-01-21 11:28] pritamp17 commented on #15
@praveenscience SWOC

[2021-01-21 11:35] nehaparmar99 commented on #15
I'd like to work on it.

[2021-01-21 11:37] praveenscience commented on #15
@nehaparmar99 Can you tell me you're from SWoC or DWoC or both? 😁

[2021-01-21 11:50] nehaparmar99 commented on #15
Both sir.

[2021-01-21 11:51] praveenscience commented on #15
@nehaparmar99 Thanks ma'am. Just wondering if you checked the above conversation?

[2021-01-21 11:53] praveenscience commented on #15
Also, should we have a deadline and competition between @nehaparmar99 and @pritamp17? On the following:

- Who's finishing it first?
- Who's finishing it before this week?
- Who has the best code?

[2021-01-21 12:05] nehaparmar99 commented on #15
Sure!Sounds fun😁
Also wanted to know if you need the same content as in the apple one, or you need different headings?

[2021-01-21 15:05] Utkarsh299-tech commented on #13
Oh, that would be great. :)

[2021-01-21 20:14] praveenscience commented on #15
Same design, we'll think about the content later... Have the same one...

[2021-01-22 05:39] nehaparmar99 commented on #15
This is what I've implemented for now.Do let me know if it requires more styling or changes.

[2021-01-22 08:04] praveenscience commented on #15
Sure, will check it out and review it. Wow, that was quick! 😁

[2021-01-23 18:16] #6 closed

[2021-01-23 22:09] praveenscience commented on #15
Any progress @nehaparmar99 or @pritamp17?

[2021-01-24 14:29] nehaparmar99 commented on #15
Hey, I'm so sorry have been a bit busy due to sem exams, I'll make the required changes by tomorrow

[2021-01-24 20:19] praveenscience commented on #15
Cool @nehaparmar99 Also, I replied something on the PR, kindly check that and respond me for that! 😁 This is really good so, I really want you to take it up.

[2021-01-25 11:21] #5 closed

[2021-01-25 11:44] #13 closed

[2021-01-25 11:45] praveenscience commented on #10
Any progress on this @muthuannamalai12?

[2021-01-25 11:58] muthuannamalai12 commented on #10
Sorry for the delay @praveenscience. I have created a pull request Kindly review it

[2021-01-26 07:48] praveenscience opened #20 "Integrate Netlify for Deploy Previews"
As we move up to the coding phase now, let's start implementing the Deploy Previews feature of Netlify. When someone creates a PR, the netlify service should send a link to show how it looks.

You can find more information here: [Introducing Deploy Previews in Netlify](https://www.netlify.com/blog/2016/07/20/introducing-deploy-previews-in-netlify/). This is up for grabs people. Anyone from DWoC or

[2021-01-26 09:47] #10 closed

[2021-01-26 10:19] avinashupadhya99 commented on #20
Hi, can I work on this?

Yes, it is essentialy setting up a CICD for the application

I haven't done much with Netlify but I have worked with other hosting services. I want to learn doing it on Netlify and will do so.

I am working on DWoC

Can you please assign this to me?

[2021-01-26 10:55] praveenscience commented on #20
Hi @avinashupadhya99, yes, technically it's setting up CI/CD for only the PRs... 😁

Cool, you can start working on this. 😁 Keep me updated with the progress.

[2021-01-26 21:52] vismitap commented on #3
Hello Sir, I can see this issue has not been resolved yet and the PR made is also closed by the assignee. So can I give it a try?

[2021-01-26 23:16] praveenscience commented on #3
@vismitap Please go ahead...

[2021-01-27 19:46] vismitap commented on #3
@praveenscience I have started working on the Readme file and noticed that the reference repository's Readme file contains some nice screenshots. I had a question about that. Should I add the screenshots or are you going to do it with your Mac laptop? Your Screenshots look very neat and nicely edited. It will be great if you provide the screenshots and I add in the Readme file. Or should I go ahea

[2021-01-27 19:50] vismitap commented on #3
After I complete the CONTRIBUTING.md, it has to be linked with the main README.md file also. Should I be doing that as a part of this issue or create a new issue?

[2021-01-27 20:02] praveenscience commented on #3
I guessed it. Alright then, I'll give you the images. It's hard, that's why I wanted someone to add it, LoL. Shall we do one thing, we'll do a contribution on both through the Web UI as well as using Command Line? 😁

[2021-01-27 20:06] vismitap commented on #3
Yes!

[2021-01-28 04:58] avinashupadhya99 commented on #20
Hey, I looked up deploy previews on Netlify and tested it out with my repo. There are no code changes necessary for deploy previews. Once the repository is set up for deployment on Netlify, any PR made to the repository will have a deploy preview. There are no changes required.

Please let me know if you plan on implementing CICD for the entire application. I can work on that. 🥂

[2021-01-28 13:27] praveenscience commented on #20
Yes, @avinashupadhya99. What needs to be done? Should we do it together?

[2021-01-28 13:29] praveenscience commented on #20
@avinashupadhya99 I'll set this thing up. Once I have done it, I'll ask you to update some code changes so that you get the points for looking into. Hope that helps?

[2021-01-28 14:48] avinashupadhya99 commented on #20
Yes you just need to add the repository on Netlify. Everything else is taken care by them.

No issue. I will work on other *issues* that come up

[2021-01-28 19:53] Jassi10000 opened #21 "Regarding DataBase Used in MERN Stack"
@praveenscience
Sir , I would like to bring something in notice , that in the Readme file , you have mentioned that we will be using MERN Stack , in which you mentioned everything right  , except  " M " , According to my knowledge and experience and what all I have learnt from internet and also with people I have worked , I think   " M " in MERN Stack stands for   "Mongo-DB" database and not MySQL

[2021-01-29 07:52] ArchishmanSengupta commented on #21
i have the same query. MERN stands for MongoDB, Express, React, Node, after the four key technologies that make up the stack.

MongoDB - document database
Express(.js) - Node.js web framework
React(.js) - a client-side JavaScript framework
Node(.js) - the premier JavaScript web server

Reference website: https://www.mongodb.com/mern-stack

[2021-01-29 08:22] praveenscience commented on #21
@Jassi10000 and @ArchishmanSengupta, not sure why it was not clear. Let me quote it from the ReadMe again.

The typical MERN Stack involves MongoDB + ExpressJS + ReactJS + NodeJS. But if you see our product, it really needs a hierarchical database management system not a document oriented. MongoDB doesn't perform well under a lot of situations so we're planning to use MySQL (or MariaDB) or Postgre

[2021-01-29 08:29] praveenscience commented on #20
@avinashupadhya99 This one is still your responsibility. Thanks for getting me a clarity on this. 😁 Will award the right points for you.

[2021-01-29 08:40] Jassi10000 commented on #21
@praveenscience Ohh , now its clear

Actually , the following  quote is nowhere to be found , that's why we misunderstood

# The typical MERN Stack involves MongoDB + ExpressJS + ReactJS + NodeJS. But if you see our product, it really needs a hierarchical database management system not a document oriented. MongoDB doesn't perform well under a lot of situations so we're planning to use MySQL (or Ma

[2021-01-29 09:31] praveenscience commented on #21
@Jassi10000 Why da? Why? That was a reply to me. Left le you see the border? That's what is taken from the ReadMe! I guess I have a huge communication gap! 🤦🏻‍♂️ More clarity here:

![image](https://user-images.githubusercontent.com/1830380/106257611-b1fdcb80-6214-11eb-8ebc-cc1d8e0e51e8.png)

[2021-01-29 09:36] Jassi10000 commented on #21
No issues  sir @praveenscience 😀 ,  I just wanted to improve the documentation in the Readme for others so that they can't get confused like me

[2021-01-29 09:41] avinashupadhya99 commented on #20
I'm sorry, I didn't get it. Should I set up the netlify on my account? If yes, I don't think that is possible because I would need access to the repository.

If it is regarding the points for DWoC, I'm fine with it. 😄 I got to learn something new. 😁

[2021-01-29 13:11] praveenscience commented on #21
Good thought @Jassi10000! 👍🏻
Keep it up. Thanks! 😅

[2021-01-29 13:30] Jassi10000 commented on #21
My pleasure sir !! 😄

[2021-01-29 18:02] #9 closed

[2021-01-30 04:13] #21 closed

[2021-02-07 17:00] Ayush7614 opened #23 "Add Contributers name and project admin name in the last of the README file"
Add Contributers name and project admin name in the last of the README file

![screenshot-github com-2021 02 07-22_11_43](https://user-images.githubusercontent.com/67006255/107153115-d6cf0d00-6991-11eb-8bf5-aa0d555dff2c.png)

Like This

[2021-02-07 19:25] CharvyJain commented on #23
Can I work on this ?

[2021-02-07 20:30] praveenscience commented on #23
Looks nice... Yea, sure @CharvyJain! 👋🏻

[2021-02-08 01:54] Ayush7614 commented on #23
First I will talk to you for this and issue was also raised my me so plss assign me first @praveenscience

[2021-02-08 04:21] Ayush7614 commented on #23
Under DWOC

[2021-02-08 06:52] praveenscience commented on #23
@Ayush7614 Done... Unless you comment here, I am unable to put it on you! 😰

[2021-02-08 09:47] Ayush7614 commented on #23
#24 this is pull for this issue plss review it

[2021-02-08 09:52] praveenscience commented on #23
@Ayush7614 Just once in the right place is enough. You have mentioned this 3 times. Not needed, really! 😅

[2021-02-08 09:52] praveenscience commented on #23
@CharvyJain I'll get you something else to work on... 😁

[2021-02-08 13:41] CharvyJain commented on #23
@praveenscience Yeah! No Problem 😊

[2021-02-13 13:28] sherin527 commented on #15
I would like to work on this as well

[2021-02-13 23:21] praveenscience commented on #15
@sherin527 It's been completed. 😁 Waiting for merging.

[2021-02-14 09:26] m-code12 opened #26 "Add a GitHub action to auto-assign Mentors for every PR"
I would like to add a GitHub action to auto-assign mentors for every PR. It sometimes becomes hectic for the mentors to take a look at all the Projects for the PRs made by the Contributors. This action would give a nice notification about reviewing the pr and make things pretty easy for the mentor. It would automatically ask for reviews by the mentors on every pr created.

Demo :
<img src="https:/

[2021-02-14 09:28] m-code12 commented on #26
@praveenscience I would like to work on this as a part of DWOC.

[2021-02-14 11:29] eddiejaoude opened #27 "File naming convention"
For example
- `ReadMe.md` -> `README.md`

https://github.com/praveenscience/Internship-LMS-FrontEnd/community

[2021-02-14 11:31] eddiejaoude opened #28 "Missing license"

[2021-02-14 11:43] sanjay270899 commented on #27
@praveenscience Should I rename it?

[2021-02-21 14:20] #26 closed

[2021-02-21 17:45] muthuannamalai12 opened #30 "Bug in GitHub AutoAssign Mentors"
When Running the GitHub action to auto-assign Mentors for every PR it displays a [warning]Resource not accessible by integration` when running against PRs and it does not auto-assign reviewers. Similar to the issue link given below :point_down:
kentaro-m/auto-assign-action#29

[2021-02-21 17:46] muthuannamalai12 commented on #30
@praveenscience I would love to work and correct it. Kindly assign me this issue as a part of DWOC.

[2021-02-22 08:39] shubhraagarwal commented on #28
@praveenscience I would like to work on this issue as a part of DWoC

[2021-02-22 11:54] praveenscience commented on #28
@shubhraagarwal Done.

[2021-02-22 11:55] praveenscience commented on #30
@muthuannamalai12 Go ahead. 😁

[2021-02-22 12:02] praveenscience commented on #27
Fixed! 👍

[2021-02-22 12:02] #27 closed

[2021-02-22 12:41] #30 closed

[2021-02-23 12:15] m-code12 opened #33 "Modifying and rectifying the welcome bot"

[2021-02-23 12:16] m-code12 commented on #33
@praveenscience Can I go ahead with this issue?

[2021-02-23 12:39] #28 closed

[2021-02-23 13:18] praveenscience commented on #33
What's the problem? What change are you planning to make?

[2021-02-23 13:40] m-code12 commented on #33
The welcome bot isn't getting triggerred, like it isn't activated
I want to add a community link to the welcome bot
I wanted to ask do we have a separate slack or discord channel for this project, other than dwoc channel?
I can include the link in the welcome bot.

[2021-02-23 13:40] m-code12 commented on #33
Also please could you add the labels?

[2021-02-23 14:57] praveenscience commented on #33
Cool then... 😁

[2021-02-23 15:38] m-code12 commented on #33
Could you share the link of the slack or discord channel?

[2021-02-24 04:54] omrajsharma commented on #15
is this issue has been resolve?

[2021-02-24 10:12] praveenscience commented on #15
@omrajsharma Just see the above comments, please? 😅

[2021-02-24 10:13] praveenscience commented on #33
@m-code12 I don't think that will be necessary... Do you wanna finish the PR without the link? Happy to merge it... 😁 You're doing an awesome job! 🔥

[2021-02-24 15:18] m-code12 commented on #33
Thank you for the appreciation😁 @praveenscience
I have raised a PR, do have a look at it.

[2021-02-24 15:47] m-code12 opened #35 "Add an issue template for this project"

[2021-02-24 15:47] m-code12 commented on #35
@praveenscience Can I work on this?

[2021-02-24 17:47] #33 closed

[2021-02-24 18:38] m-code12 commented on #35
Can I proceed with this @praveenscience

[2021-02-24 18:39] praveenscience commented on #35
I thought this was there already... Okay go for it. DWOC right?

[2021-02-24 18:46] m-code12 commented on #35
Yes

[2021-02-24 18:48] praveenscience commented on #35
@m-code12 Assigned.

[2021-02-24 18:51] praveenscience opened #36 "Enforce Prettier on commits and builds."
I have got this prettier options configured in VS Code. We need a way to ensure that this is there in the build times. If it's not used, including the spaces, etc., the build should fail.

[code]

This issue is up for grabs for both DWoC and SWoC.

[2021-02-25 08:28] sonaliBedade commented on #36
I am a participant of SWoC and I will like to work on this issue. I use both VS Code and Prettier extension and I am familiar with it.  Please assign this issue to me so that I can start working on it.

[2021-02-25 08:44] Sloth-Panda commented on #36
@praveenscience sir, can you explain a bit how can we do the same?

[2021-02-25 09:38] praveenscience commented on #36
@Sloth-Panda Something like this: https://gist.github.com/jareware/7179093

[2021-02-25 15:03] #15 closed

[2021-02-25 15:57] praveenscience commented on #36
@Sloth-Panda and @sonaliBedade Check these out:

* [ESLint checker · Actions · GitHub Marketplace · GitHub](https://github.com/marketplace/actions/eslint-checker)
* [Run ESLint · Actions · GitHub Marketplace · GitHub](https://github.com/marketplace/actions/run-eslint)

I guess these might be a good start...

[2021-02-26 09:19] #35 closed

[2021-02-26 09:19] #3 closed

[2021-02-26 09:21] praveenscience commented on #20
@avinashupadhya99 Send a random PR to fix something. I'll get you the points you deserve. Can you please do it now?

[2021-02-26 09:22] praveenscience commented on #23
@CharvyJain This hasn't been completed. Can you please do it by today if you can?

[2021-02-26 09:26] praveenscience opened #38 "Add GSSoC '21 information."
This project is for GSSoC '21 as well. Need a nice content to tell everyone that this is also a part of GSSoC '21 and contributions are welcome. Completion of this issue means:

* [ ] Add GSSoC '21 Project participation information.
* [ ] Add the trailer of the project submission to GSSoC '21.
* [ ] Create labels for the GSSoC related difficulties.
* [ ] Set up score sheet in Google Sheets.
* [ ]

[2021-02-26 10:52] dollyjain51099 commented on #36
I would like to work on this issue, @praveenscience kindly assign it to me!

[2021-02-26 11:05] praveenscience commented on #36
Hey @dollyjain51099, sure... You can also discuss with @sonaliBedade, as you both know each other! 😅

[2021-02-26 11:35] vismitap commented on #23
Hey! May I work on this issue?

[2021-02-26 13:16] praveenscience commented on #23
@vismitap Yea, happy to assign you. See if @CharvyJain is active. If she can't, go with it.

[2021-02-26 17:46] CharvyJain commented on #23
@vismitap You can take up the issue.

[2021-02-26 18:32] vismitap commented on #23
@CharvyJain Tysm😄. @praveenscience please assign this issue to me!

[2021-02-26 18:33] praveenscience commented on #23
Done! @vismitap

[2021-02-26 18:50] vismitap commented on #23
The contributor's table would be static and will take up a lot of space. The better way to do this is to have something like this:
![image](https://user-images.githubusercontent.com/47056243/109342082-582f0680-7891-11eb-8f31-26a1c42e0ee8.png)
This is dynamic too so no bot needed! What do you say @praveenscience?

[2021-02-26 18:55] praveenscience commented on #23
Good one...

[2021-02-27 09:10] #23 closed

[2021-03-01 09:43] Jassi10000 commented on #38
Yayy , am so excited to contribute to this 🤩🤩

[2021-03-03 18:53] praveenscience commented on #38
Thanks @Jassi10000 for adding it up... Been tough finding time to update. I need to do a lot of work now! 😰 I'll do it soon! Let's make it great! 😁

[2021-03-04 13:28] Akshit42-hue commented on #38
Do let me know if you want help @Jassi10000
Really excited to contribute on this project

[2021-03-04 13:30] praveenscience commented on #38
Can both of you @Jassi10000 and @Akshit42-hue say what all could be more added and how can we make it look better for people coming from GSSoC?

[2021-03-04 13:57] Jassi10000 commented on #38
sure buddy

[2021-03-04 14:03] Akshit42-hue commented on #38
In Readme file GSOC related FAQ would be there.

In issue section
removing the label of Dwoc and Swoc and instead of that Gsoc label would be there.

And I think one read me file would be created in that file information related  How to write proposal , A sample proposal , Program structure and all that kind of stuff will be there.

[2021-03-04 15:21] praveenscience commented on #38
Thanks @Akshit42-hue

[2021-03-09 03:34] Jassi10000 commented on #38
@praveenscience  Sir  the GirlScript Summer of Code has started yesterday only , so can you please change the labels to GSSOC , for everything and I think  first we should professionaly learn to do Open Source in GSSOC  , then we will be good to go in GSOC

[2021-03-09 03:37] sahildotexe commented on #36
Hey !! I 'm a participant of GSSOC'21, can you assign this issue to me?

[2021-03-09 12:26] aanchalrakheja commented on #38
Hey! As GSSOC'21 has started yesterday, so I think there should be information regarding the same in the readme file, for the participants to know how to contribute and get along with the project. Would love to provide content for the same and contribute
:)

[2021-03-09 12:30] Fab-Gaurav commented on #38
Hello @praveenscience
As a participant of GSSoC'21 I would like to contribute on this project for the same in the readme.
Please let me know may I work on this issue.

[2021-03-09 12:34] AasthaGoyalgit commented on #38
Hey !!

I am interested in this issue as a GSSOC'21 participant .
Do let me know if you want help  or i can work on this issue.
I'll be glad to work on this issue.

Thanks!!

[2021-03-09 15:35] kanchi12P opened #42 "Feature request"
I can create a poster for the project.

The poster will attract more people towards the project and it's easy to get ideas regarding the project by overlooking it.

(i am GSSoC'21 participant)

kindly assign this issue to me!!

[2021-03-09 16:03] IdealisticINTJ commented on #38
Hi!
I would like to contribute to this project README as a participant of GSSoC'21.
Please let me know if I could work on this issue.
Thank you!

[2021-03-09 16:05] praveenscience commented on #42
Wow, interesting idea. A poster for which one? Please let me know? 😊

[2021-03-09 16:35] Fab-Gaurav commented on #38
Sure it is 👍🏻

[2021-03-09 16:59] kanchi12P commented on #42
a poster for this platform(internship onboard platform)to attract new interns

[2021-03-09 22:36] rashtron commented on #38
Hey sir, I'm a beginner and would like to contribute to this project by doing with learning methodology. Hoping to work well under your mentorship

[2021-03-09 23:03] praveenscience commented on #38
@rashtron Sure, you're welcome.

[2021-03-10 05:37] poojitha2002 commented on #38
Hello, I am excited to work on this project. Please do assign some issues to me. I will  do them and improve my skills.

[2021-03-10 09:50] NidhiSingh0068 commented on #38
Hello, I am following this project in order to make some contributions. Can you help in understanding the issues?

[2021-03-10 14:30] krishna-y2000 opened #43 "Improve ReadMe"
**Is your feature request related to a problem? Please describe.**
There is no section of getting started for developer . How can we start our project in development mode.

**Describe the solution you'd like...**
I will include all the details like clone the repo then go to folder , enter command " cd client -> npm install -> npm start "
Allow me to do this task as part of gssoc'21

[2021-03-10 14:35] praveenscience commented on #43
@krishna-y2000 Thanks for adding this. It's actually a part of #38, but yes, this can be a separate one too. What do you think? Did you see the Contributing.md? Should that be changed as well? What say?

[2021-03-10 15:10] praveenscience commented on #38
@NidhiSingh0068 Please ask your questions out.

[2021-03-10 15:12] praveenscience commented on #38
Hi everyone, my project is unique. You as a participant aren't bug fixers. Don't look for issues. We are planning to do something big with a team work, we'll start from tomorrow. I am still building something awesome, so wait for it. Don't think in a short way, think in the big picture of building a product! 😊

Heads up, @NidhiSingh0068 @poojitha2002 @aayushbisen @rashtron @Fab-Gaurav @IdealisticI

[2021-03-10 15:13] krishna-y2000 commented on #43
@praveenscience  Yes , there should also be made changes . Things to change in Contributing.md file :

1) After cloning project in step 5 there should be command of installing node modules in react folder and then npm start for running the program.
2) In step 11 of uploading files to staging area para. there is no command for creating gitignore file and adding node modules to it for reducing the f

[2021-03-10 15:14] praveenscience commented on #43
Okay, sure, what I'll do is, I'll somehow work up a little bit and make the update on the Readme and then we'll do this issue after it's done. Okay? Until then hold on...

[2021-03-10 15:19] praveenscience commented on #43
Wait till I finish na? 😅

[2021-03-10 18:51] Uyadav207 commented on #20
@praveenscience and @avinashupadhya99  , i have worked with netlify CI, i might help you both. infact my all website are netlify deployed.

[2021-03-11 07:00] Himika-Mishra commented on #38
Hi!
I would like to contribute to this project as a participant of GSSoC'21.
Please let me know if I could work on this issue and please do let me know about other issues which I can work on as I would like to improve my skills.
Thank you!

[2021-03-11 07:04] nandini2110 commented on #38
Hello Sir,
I am Nandini Dasgupta, a frontend developer. I really liked the project idea and would love to contribute to this project. Please do let me know if I can work on any issue.
Thank you

[2021-03-11 10:47] i-aayush711 commented on #38
Hello Praveen sir,
I have started my OS journey from GSSoC'21 and your project caught my attention. I happy to contribute first as an GSSoC participant but not limited to just bug fixing. Hope to get on board!

[2021-03-11 14:42] aditisneh commented on #43
Hey @praveenscience Sir, I would like to add a cool banner to this readme. Kindly assign me this. Also I can upload a demo out here, if you say.

[2021-03-11 15:18] praveenscience commented on #20
@Uyadav207 Sure, let's jump on a call.

[2021-03-11 15:37] praveenscience commented on #43
@aditisneh Good idea, please share some quick designs, if it's nice, let's add it to this! 👍  Will give Level2 if it's really nice and creative.

[2021-03-11 15:39] aditisneh commented on #43
@praveenscience okay then, working on it.

[2021-03-11 17:52] aditisneh commented on #43
https://user-images.githubusercontent.com/56735634/110831759-92040200-82c0-11eb-8e20-af41244bdd3d.mp4

hey have a look

[2021-03-11 18:46] starrohan999 commented on #43
I think I can update readme.MD file. I found there is a lot of information about past events and things so we can easily delete it and add more info about the current event as it is a part of Gsoc'21.
Readme file is an attraction point for any beginner or who that is intested in organization project so we have to keep updating and file and precisely.
here are some photos.
![2021-03-12_LI](https://

[2021-03-11 18:49] praveenscience commented on #43
@starrohan999 It's actually a part of #38! 😅

[2021-03-11 18:49] praveenscience commented on #43
Okay, let me clean up the mess today really! 😁

[2021-03-11 19:11] krishna-y2000 commented on #43
@praveenscience Hii sir, i will finish my work of contribution.md file in next few days and will ask for merge. Let me know if any other thing you want to add.🙌

[2021-03-11 19:22] starrohan999 commented on #43
@praveenscience I actually made a poster regarding tech stack
.
so can i raise the issue and pull it

[2021-03-11 19:26] starrohan999 commented on #43
I am really want looking forward to contributing.

[2021-03-11 19:36] starrohan999 opened #49 "Tech Stack Poster"
**Tech Stack Poster**
recently I read the README file I found some kind of missing thing so here is the first thing after every main point we can add a poster of that point so, everyone can easily understand and this is more beneficial also make it colorful.
@praveenscience  please assign me

[2021-03-11 19:43] starrohan999 commented on #49
please @praveenscience  assign to me.

[2021-03-11 19:58] starrohan999 commented on #49
in which file i have to add this image poster?

[2021-03-11 20:14] praveenscience commented on #43
@starrohan999 Can you share it here?

[2021-03-12 13:53] rohank2502 opened #51 "Tech Stack Update ( LOGO add )"
I will like to add tech stack logo used in our project this will make our project attractive !! Will start to work on this issue as soon as i get assigned !!

[2021-03-12 15:09] aqua0 commented on #38
This is a cool project. Please do consider me as well for assignning work. gssoc'21 participant

[2021-03-12 16:29] praveenscience commented on #51
Duplicate of #49.

[2021-03-12 16:29] #51 closed

[2021-03-12 16:29] praveenscience commented on #49
@starrohan999 Let's wait for designs, then I'll tell you?

[2021-03-12 16:32] praveenscience commented on #42
Closing this as a duplicate of #49.

[2021-03-12 16:32] #42 closed

[2021-03-12 16:33] praveenscience commented on #38
@aqua0 @i-aayush711 @nandini2110 @Himika-Mishra Please come here: https://github.com/praveenscience/Internship-LMS-FrontEnd/discussions/48

[2021-03-12 17:55] starrohan999 commented on #49
Thank you for assigning me this issue you are an awesome mentor @praveenscience
ok, @praveenscience I will wait.

[2021-03-12 18:08] praveenscience commented on #49
@starrohan999 You saw the expectations right? Make sure you get something of that level! 😊

[2021-03-12 18:13] starrohan999 commented on #49
Definitely, I will give my 100%

[2021-03-12 19:16] rebs-becca15 commented on #43
Hello Sir

I am a participant of GSSOC'21 and I would like to work on the content of README.md. There are many references to Winter of Code, I can revise it to GSSOC and I can also add some FAQs regarding GSSOC'21.

[2021-03-12 19:18] praveenscience commented on #43
@rebs-becca15 Thanks for your message, I messaged in the Discord - I am currently cleaning up the repo right now. Once done, I'll let you all know! Max by tonight - UK time it will be done. 😊  In the meantime, can you come to #48 and see if you can help us?

[2021-03-12 19:23] ArchishmanSengupta commented on #43
@praveenscience is there any link to the website like gh-pages? inside the README file? i can't see that

[2021-03-12 19:24] praveenscience commented on #43
@ArchishmanSengupta It's in localhost dude, I am building that too. 😊

[2021-03-13 05:25] shriya030 opened #53 "Update README.md of client folder"
I read the README.md of the client folder and I saw that there is no step of npm install there. I would like to update the README. Please assign this issue to me as a part of GSSOC'21.

[2021-03-13 07:52] praveenscience commented on #53
I am working on this one. We're changing some plans for the better picture. 😊

[2021-03-13 08:01] praveenscience commented on #53
@shriya030 Please check out the ReadMe.

[2021-03-13 08:01] praveenscience commented on #49
Please check out the ReadMe! 😊

[2021-03-13 08:02] praveenscience commented on #43
Folks, everyone, please check out the ReadMe! 😊

[2021-03-13 12:13] kanchi12P opened #58 "Add in let's discuss"
**Is your feature request related to a problem? Please describe.**

I would like to add something more in the let's discuss part of readme file.

**Describe the solution you'd like...**

I think it would be better if add a table indicating the days assigned to assignee for solving the issue and making pr on the basis of hardness level like 1 day for level 0, and so on (the no. number of days that

[2021-03-13 12:34] sawantvikram commented on #58
I am gssoc'21 participant.
please assign it to me.

[2021-03-13 21:05] praveenscience commented on #58
Actually this is a good idea. Let me check the discussions on how it is going. The Readme is not for like dev - it's for you all to plan. 😊

[2021-03-14 05:51] itsIapetus opened #59 "Add a welcome bot"
**Is your feature request related to a problem? Please describe.**

I would like to add a welcome bot for students opening their first issue or PR.
Kindly assign it to me under GSSOC, thanks!

**Describe the solution you'd like...**

**Describe alternatives you've considered?**

**Approach to be followed (optional):**

**Additional context**

[2021-03-14 08:27] simranbhalla3 commented on #59
I am participant in GSSOC'21.Can you please assign this to me? @praveenscience

[2021-03-14 08:28] simranbhalla3 commented on #38
I am participant in GSSOC'21.Can you please assign this to me? I would love to work on this project @praveenscience

[2021-03-14 08:28] simranbhalla3 commented on #49
I am participant in GSSOC'21.Can you please assign this to me?

[2021-03-14 09:42] praveenscience commented on #49
@simranbhalla3 Show me some of your designs. This one's a low priority and has already been assigned to @starrohan999. Please read the ReadMe once and also let me know if you have any questions.

[2021-03-14 09:43] praveenscience commented on #38
@simranbhalla3 Are you really serious? 😅 Did you even know what to work on here? This is not the right way to approach buddy! Check the Readme and the above discussions, please? And tell me what you have commented makes any sense? Are you blindly copy pasting the comments here? 😞

[2021-03-14 10:26] Jassi10000 commented on #59
@itsIapetus Can you pls elaborate and answer all the questions  on how you gonna approach this , this way it will be easy for both for you and people who visit the issue ?

[2021-03-14 11:54] praveenscience commented on #59
@simranbhalla3 Please explain what you understood and what is your approach, happy to assign you if you are having the right thought! 😊

[2021-03-14 11:54] praveenscience commented on #59
Also @itsIapetus Isn't it already there? 🤔

[2021-03-14 11:54] #58 closed

[2021-03-14 11:55] #59 closed

[2021-03-14 11:55] #53 closed

[2021-03-15 11:24] praveenscience commented on #49
@simranbhalla3 and @starrohan999 If we don't have the bandwidth to work on this, it's totally fine. We can deprioritize this... 😁 We can do it later, okay? Let me know, by tonight, I'm planning to close this issue.

[2021-03-15 11:29] praveenscience commented on #43
We'll create a new issue for this one. We need to discuss a lot.

[2021-03-15 11:29] #43 closed

[2021-03-15 11:36] praveenscience opened #60 "Make New and Improved Readme"
Hey folks, Welcome to GSSoC.

This is going to be the first issue, a major one at least, after a lot of planning. Let's try to create the best Readme for our project possible. Remember, this is an **Open Source Product**. So, let's start with a couple of ideas.

Please, tell me what all sections and information we can include in the ReadMe document before claiming the issue blindly. Blind claim re

[2021-03-15 11:39] iamharsh1312 commented on #60
Scrum Master's list can be added

[2021-03-15 11:41] iamharsh1312 commented on #60
The  methodology can be included in the list

[2021-03-15 11:42] iamharsh1312 commented on #60
Usage , badges can also be included

[2021-03-15 11:43] praveenscience commented on #60
@iamharsh1312 What does it mean by usage? Badges like?

[2021-03-15 11:46] iamharsh1312 commented on #60
@praveenscience  On some READMEs, you may see small images that convey metadata, such as whether or not all the tests are passing for the project. You can use Shields to add some to your README. Many services also have instructions for adding a badge.
Usage from what I mean is to show the expected output

[2021-03-15 11:49] praveenscience opened #61 "Create the Best Contribution Guidelines Document"
Hey folks, Welcome to GSSoC.

This is going to be the second issue, a major one again because this impacts a lot of people. Let's try to create the best Contribution Guidelines for our project possible.

Please, tell me what all sections and information we can include in the Contribution Guidelines document before claiming the issue blindly. Blind claim requests not entertained and will be rejecte

[2021-03-15 11:52] Cgoyal48 commented on #60
We can give a description of what a specific label which we are going to use signifies in that way it will be good for those who are new to open source

[2021-03-15 11:52] ayush461 commented on #60
@praveenscience Photos of running and installing code should be added for better understanding,admins and mentors photo can too be added, what's say??

[2021-03-15 11:54] praveenscience commented on #60
Wow, thanks folks, updated the initial one. Let's make it awesome! Who's doing which? Should I split between you all? Or how should we go about? 😁

(Now comes the hard part of giving to who!)

[2021-03-15 11:56] ayush461 commented on #60
As you say SIR. @praveenscience

[2021-03-15 11:57] dcs-soni commented on #60
Hey @praveenscience I think we can add the amount of work done, future changes or some new ideas that we are planning to add in this project.

[2021-03-15 11:59] praveenscience commented on #60
@dcs-soni Any examples for that? Interesting, but I haven't seen something like this. But why that in Readme?

[2021-03-15 12:01] ayush461 commented on #60
@praveenscience At the top of readme,we can add project logo

[2021-03-15 12:03] praveenscience commented on #60
@ayush461 That reminds me, we need a logo banner. I'll add an issue. So far I have got this, I like it, but yea, suggestions welcome.

![internship](https://user-images.githubusercontent.com/1830380/111150758-65810c00-8586-11eb-8941-7985fb66f23c.png)

![InternshipBG](https://user-images.githubusercontent.com/1830380/111150762-674acf80-8586-11eb-8b5c-9cf0bb3c7c09.png)

[2021-03-15 12:10] dcs-soni commented on #60
Any newcomer to this repo will be able to identify easily about the work that is being currently done and if we include some ideas that we are planning to do in future so anyone can come up with ideas for the same. Just a thought for this project.

[2021-03-15 12:11] praveenscience commented on #60
@dcs-soni I'll do one thing, I'll give this part of the ReadMe for you! 😅 Simple. I don't understand, but let me add this for you.

[2021-03-15 12:13] dcs-soni commented on #60
Okay let me see if this goes well or we'll dump this one 😅

[2021-03-15 12:27] praveenscience commented on #60
Nowwwww the question is, who should be assigned for this? I guess we have got a decent understanding of what needs to be in the Readme, can we have the first person to claim this now? (Would be great from the above people).

[2021-03-15 12:37] ayush461 commented on #60
ME

[2021-03-15 12:42] Komal-99 commented on #60
We can add one section having helpful links like getting started with Git hub and git bash .. , your merge conflicts video link.
Will help the new comers :)

[2021-03-15 12:44] praveenscience commented on #60
@Komal-99 It's there in the resources. 😊

[2021-03-15 12:45] praveenscience commented on #60
@ayush461 Issue is yours... Please try finishing max by today. Then if you have made any mistakes, we'll ask others to jump in and let them have their chance. OKay?

[2021-03-15 12:45] ayush461 commented on #60
OK

[2021-03-15 12:55] ayush461 commented on #60
@praveenscience sir, here do I have to write my own content under the given subtopics??

[2021-03-15 12:56] praveenscience commented on #60
@ayush461 Remove everything in the current Readme and try to focus on creating this structure:

Later on we'll think about other stuff. Anything that you don't know, just let me know. You can leave them blank.

[2021-03-15 12:56] ayush461 commented on #60
@praveenscience ok,got it.

[2021-03-15 13:20] aritra120 commented on #61
Sir , Personally I use Windows but I have a contribution guideline ready with me that is in a very generalized form and applicable for windows, mac & ubuntu as well. You can check that for once.

[2021-03-15 13:21] praveenscience commented on #61
@aritra120 Sure, can you send me the link, please? 😁

[2021-03-15 13:23] aritra120 commented on #61
https://github.com/firstcontributions/first-contributions
Here is the link. Just go through it for once.

[2021-03-15 13:25] praveenscience commented on #61
Yes, I have seen this repo and also this one too. Inspired from this, I wanted to give the exact steps, one by one! 👍

[2021-03-15 13:29] aritra120 commented on #61
Yes Sir I have seen that. Actually, according to me that guideline may become a bit longer, that is why I have sent you that one. Otherwise, that one is super clear and easy to learn things for beginners.

[2021-03-15 13:41] praveenscience commented on #61
@aritra120 Sir, you talk that and that, which one are you talking about? Hehe.

[2021-03-16 04:19] agamgupta2015 opened #62 "Bug report in readme file"
**Spelling mistake**

[2021-03-16 04:40] starrohan999 commented on #49
sorry, @praveenscience  sir for the irregularity.
I will show all my designs at 3 pm

[2021-03-16 05:50] Deek9399 commented on #61
@praveenscience We can stick to Contributing to Rezume, things are clearly explained even for beginners. I am an Ubuntu user, if there is a need for guidelines for ubuntu. I would like to work on it.

[2021-03-16 10:34] #62 closed

[2021-03-16 10:35] praveenscience commented on #62
Thanks for the contribution. This is not something we expected. We're following English India / British English here. 😊  Please tell me if you have actually seen how we are contributing and our plans? Let me know. Also why did you raise a PR before getting an approval?

[2021-03-16 10:46] praveenscience commented on #62
This is wrong on many levels:

**Isssue**

- Issue created for no reason.
- Didn't discuss with the Project Admins or Mentors about why should this be fixed.
- We have a plan, the person didn't follow it.
- If this is just for points, then this person should be warned.

**Pull Request**

- PR made even before getting approval.
- PR fixes S to Z, when we follow Indian English / British English.
- P

[2021-03-16 11:08] praveenscience commented on #62
@agamgupta2015 Please go through this: [**GSSoC 21 Series**](https://rb.gy/o2ve8n). You'll understand how bad this PR is.

[2021-03-16 11:12] praveenscience commented on #49
No update, so closing this. We'll again open it, once we're clear with the product, okay? So don't worry, you're the poster designer for us @starrohan999! 😁

[2021-03-16 11:12] #49 closed

[2021-03-16 12:49] praveenscience commented on #61
@Deek9399 So you know what needs to be done right? Would you like to pick it up then?

[2021-03-16 14:18] Deek9399 commented on #61
Yes sure.
1. Create a contribute.md with a git flow particular to this project  ie. has screenshots taken on ubuntu while working with this repo.
2. Some contribution best practices. I would like to add similar to one in https://github.com/fossasia/open-event-frontend. If you verify and approve.
Let me know if I am on a right track or need some corrections.

[2021-03-17 00:20] #60 closed

[2021-03-17 01:34] praveenscience opened #67 "ReadMe: Add the Methodology Section"
Can we please have an expansion of the Methodology section in the ReadMe? Make sure you include these:

- [My Experience on Spotify Agile Methodology](https://blog.praveen.science/my-experience-on-spotify-agile-methodology/)
- [Git Standards followed in our way of Spotify Agile Methodology](https://blog.praveen.science/git-standards-followed-in-our-way-of-spotify-agile-methodolgy/)

We're using **

[2021-03-17 01:39] praveenscience opened #68 "ReadMe: Add the Rules of GSSoC 21 Section"
Let's have a quick overall steps about GSSoC 21. We'll include the following in the best way possible.

- Need to be already registered for GSSoC '21.
- Can't register right now again.
- Make sure you discuss in Discord before working on issue.

Let's discuss what you're planning to write before you're being assigned! 😁

Up for grabs! ✋🏻

[2021-03-17 02:14] vismitap commented on #67
I would like to work on this issue! Please assign me this issue as a part of GSSoC'21!😇

[2021-03-17 02:16] deephunt3r commented on #68
Can I work on this as participant of GSSOC’21

[2021-03-17 02:18] praveenscience commented on #67
@vismitap Would you like to discuss how we are gonna go with this? 😊

[2021-03-17 02:19] praveenscience commented on #68
@deephunt3r Would you like to discuss how we are gonna go with this? 😊

[2021-03-17 02:22] vismitap commented on #67
Yeah sure, reading the ref right now. Give me sometime to come up with something awesome! ✌

[2021-03-17 02:29] praveenscience commented on #67
@vismitap I know you'll come up with something awesome. 😊

[2021-03-17 02:37] praveenscience opened #69 "ReadMe: Add Trailer Information for GSSoC."
We need to add the trailer link to the ReadMe in some nice place, with a great write up.

[**Introduction to DevTernShip**](https://rb.gy/cygmlf)

Let's discuss about the write up here before getting assigned. ✋🏻 To request for an assignment, can you write a simple pitch for this? Like where would you like to add, what would you write, etc. 🤘🏻

Choose one from these. We have got the image assets h

[2021-03-17 02:37] praveenscience opened #70 "ReadMe: Update the Introduction Pitch"
An introduction pitch needs to be an elevated pitch. I have discussed about the project in these two places:

- [Intro Video](https://rb.gy/cygmlf)
- [BrainStorming Day 1: Project Plan](https://rb.gy/dfxjnd)

Can we have an awesome pitch about the project introduction? The current Introduction section contains the description of the project. We need a story telling way of writing the pitch. Any id

[2021-03-17 02:43] deephunt3r commented on #68
I would like to add rules you mentioned in the issue and some more like 1.Don't harass or insult any other members. Serious action will be taken if reported.
(This includes threats, internet attacks, gender-based insults and cyber bullying.)
2. Please wait until the issue get assigned to you
Is it enough or will you add more?
Can I work on it

[2021-03-17 02:45] praveenscience commented on #68
Yea, looks good, make sure to include the working process, etc. - don't pick up issue already assigned, start work after assigning issue, before creating pr discuss on discord.

[2021-03-17 03:51] vismitap commented on #67
@praveenscienceI think we can include these points:
1) We are following high alignment and high autonomy model. So, the issues created will have description of the problem to be solved, the participants have to figure out how they would like to solve it and what tool they would like to use.
2) Everything needs to be communicated to the scrum masters/project admin on what they think about a particu

[2021-03-17 03:55] praveenscience commented on #67
Okay cool, the issue is yours. Let's refine it when you send it over. ✋🏻

[2021-03-17 03:57] Venkatesh-tech commented on #70
Hey sir @praveenscience, I'm a beginner and would like to contribute to this project

I will discuss the following
 1.Platform Agenda
 2.Who can use this platform
 3.How onboarding is made easy with this platform
 and more......

[2021-03-17 03:58] IdealisticINTJ commented on #69
I would like to write the introduction. The vision and the mission of the project, along with some details on the tech stack.

[2021-03-17 04:35] praveenscience commented on #70
@Venkatesh-tech Great man. Would you like to pick this up then? ✋🏻

[2021-03-17 04:37] praveenscience commented on #69
Go for it! @IdealisticINTJ

[2021-03-17 04:39] Venkatesh-tech commented on #70
Yes, I love to work on this issue and I will try to give the best
Please assign this to me...

[2021-03-17 04:41] Deek9399 commented on #61
Okay... I will start doing it.

[2021-03-17 04:46] praveenscience commented on #70
It's yours @Venkatesh-tech

[2021-03-17 04:50] #68 closed

[2021-03-17 04:53] NidhiSingh0068 commented on #69
I would like to write about the day-1, which would be including all the discussions done during the live stream, about the technologies and features we came up with to be implemented and why we choose that....like why we are using MySQL instead of MongoDb and also the Agile approach.

[2021-03-17 04:54] praveenscience commented on #69
@NidhiSingh0068 and @IdealisticINTJ Should we say whoever comes first be getting the points? Or should we allow one from @IdealisticINTJ and one from @NidhiSingh0068?

[2021-03-17 04:57] NidhiSingh0068 commented on #69
So every point has to be assigned to a single person?

[2021-03-17 04:59] NidhiSingh0068 commented on #69
As it is mentioned, choose one from these .

[2021-03-17 05:00] praveenscience commented on #69
Didn't get you Nidhi. I was wondering, let's do this way. The first proposal by him, let's wait till he finishes. Then you add on to it okay?

[2021-03-17 05:01] NidhiSingh0068 commented on #69
Okay !!

[2021-03-17 05:06] IdealisticINTJ commented on #69
@praveenscience I thought it was one of the above-mentioned that needs to be taken.
Okay, I'll get to it.
P.S: It's a 'she'.

[2021-03-17 05:17] NidhiSingh0068 commented on #69
@IdealisticINTJ I also thought the same.

[2021-03-17 06:40] Spring-dot opened #72 "ReadMe: Add Installation and Running Section"
Can I add this section? @praveenscience

[2021-03-17 07:19] gaurav24072002 opened #73 "Creating Code_of_Conduct.md file"
It's the expectation from the Participants by the community, as well as steps to reporting unacceptable behavior. and more

[2021-03-17 07:37] gaurav24072002 commented on #73
@praveenscience you can review it tell me more changes are required in it or not.

[2021-03-17 09:23] Venkatesh-tech commented on #70
Please review it and inform me of necessary changes. so that I can make a PR
I will give my word that I will keep things updated as we come up with new ideas.

### Intro :
The plight of small and medium companies has gravely wounded the world with serious consequences impacting all the onboard new interns, developers, full-time roles, and individuals during their recruitment phase. To solve these

[2021-03-17 09:24] varshith-k commented on #69
Any more goodfirst issues?

[2021-03-17 14:52] praveenscience commented on #72
Not yet, as we're still in the design part. But yes you can do it. 😊

[2021-03-17 14:55] praveenscience commented on #73
We already have this document. So no need of this. 😊

[2021-03-17 14:55] #73 closed

[2021-03-17 15:03] praveenscience commented on #69
@IdealisticINTJ Start with your proposal, after that we'll give @NidhiSingh0068 a chance, to do her magic. Okay?
@varshith-k Many! Coming up.

[2021-03-17 15:04] praveenscience commented on #70
Go on, raise a PR. Looks damn good! ❤️

[2021-03-17 15:22] praveenscience commented on #61
@Deek9399 One of the mentors, @tejan-singh actually made it slightly easier for you by splitting up the files, so you can work on top of it okay? 😊

[2021-03-17 15:31] ASHISH-GITHUB2495 opened #76 "We can add "Get in touch section" in the footer."
**Features that we can add**
We can have a footer with Get in touch section ... you have option to fill name, email and message which will go directly to the admin.
Like the screenshot i have attach ...
if you like the idea I would like to contribute as GSSOC'21 participant.

**Screenshot**
![Screenshot (15)](https://user-images.githubusercontent.com/57385079/111493745-ddf0f400-8763-11eb-9a88-4695

[2021-03-17 16:42] praveenscience commented on #76
Yes, I like the idea, but since we're in the design phase, let's take it forward. This is nice. We are not yet implementing this. 😊 Is that okay when we start work after design?

[2021-03-17 16:52] chait04 opened #77 "Add link in read me"
just a little update , Add link to last point in <code>video links</code> section.
![Screenshot (162)](https://user-images.githubusercontent.com/59140343/111505975-2c57c000-876f-11eb-9cdc-f14d8b37b920.png)

[2021-03-17 17:20] #77 closed

[2021-03-17 18:58] #70 closed

[2021-03-18 03:02] IdealisticINTJ commented on #69
Please review it and inform me of necessary changes so that I can make a PR as soon as possible. And, I have a question- Where exactly is this supposed to be added?
The proposal:

Welcome to the Internshipception!
Created by the developers, for the developers and the enterprises, DevTernShip aims to automate a process that is usually beset by difficulties; The recruitment phase is riddled with dis

[2021-03-18 04:30] ASHISH-GITHUB2495 commented on #76
**Sure sir ... No problem**

[2021-03-18 04:58] Deek9399 commented on #61
Okay.... will get in touch with him for any confusion/suggestion.

[2021-03-18 05:31] Nishayadav-bit commented on #72
can i work on it

[2021-03-18 08:52] praveenscience commented on #69
@IdealisticINTJ How about putting this right above the Introduction heading and below the badges? Just go ahead and create a PR...

@NidhiSingh0068 I know you can do more of a magic after the PR has been accepted and we can close this issue! ✋🏻

[2021-03-18 08:52] praveenscience commented on #72
@Nishayadav-bit Did you read the above comment? Let me know. 😊

[2021-03-18 08:53] praveenscience commented on #61
@Deek9399 Everything's done, just check it out once, replace the contents of the steps with how it is in Rezume. Then you're good to go. 😊

[2021-03-18 10:16] Spring-dot commented on #72
As we will be working with react and npm, we can add steps and commands for installing npm and packages we will be working with as well as how to start react project after cloning?
Since we have not yet started with the development part, I am not sure should I add now these points or in the coming week?
@praveenscience Let me know, what to do?

[2021-03-18 10:18] praveenscience commented on #72
@Spring-dot Yes, we are totally unclear at this point. So let's wait till the tech stack gets started, after that we'll add it. I said this is gonna be for you to write. So don't miss the Live Stream today or tomorrow, okay? Not sure what Nisha is upto, can you ask her what she's planning to do?
@Nishayadav-bit Any update? 😊

[2021-03-18 10:35] Spring-dot commented on #72
@praveenscience okay, I will be joining the live stream.

[2021-03-18 10:41] Spring-dot opened #81 "Designing basic wireframes for the website"
We need the complete user flow for this platform. Let's design it using the software of your choice. This should cover:

* Welcome
* Landing Page
* Sign In
* Help Screens
* User Dashboard
  * User Profile
  * User Account Settings
* Admin Dashboard
  * Manage Users
  * Manage Content
    * Steps Management

[2021-03-18 14:14] Nishayadav-bit commented on #72
@praveenscience  in installation and running section we can add installing process and how to start doing projects.

[2021-03-18 15:21] Deek9399 commented on #61
Yes, I checked it. Everything is nicely done. I will try to finish the steps section by tomorrow evening.

[2021-03-18 15:34] praveenscience commented on #81
Cool, let's discuss with the other designers too? 😊

[2021-03-18 15:37] praveenscience commented on #81
Can you try talking to Deepak and Devraj about this? Off to a good start then! ✋🏻

[2021-03-18 15:41] praveenscience commented on #81
Cool, let's discuss with the other designers too? 😊
Can you try talking to Deepak and Devraj about this? Off to a good start then! ✋🏻

[2021-03-18 16:24] praveenscience commented on #72
@Nishayadav-bit Yes, Nisha, tell me what are you planning to write there. Do you know what needs to be written there? 😊  Can you tell me here?

[2021-03-18 16:25] praveenscience commented on #61
Yay!!! Thanks a lot @Deek9399, waiting for your PR.

[2021-03-18 17:47] Nishayadav-bit commented on #72
@praveenscience ok , tell me what would your team or project expect from me ?
  And currently i,m fresher in open source so little bit idea about it .

[2021-03-18 17:49] praveenscience commented on #72
@Nishayadav-bit Did you come and talk to any of us before blindly asking to assign? Tell me if you have watched the following:

- [Intro Video](https://rb.gy/cygmlf)
- [GSSoC 21 Series](https://rb.gy/o7lwj8)
- [BrainStorming Day 1: Project Plan](https://rb.gy/dfxjnd)
- [BrainStorming Day 2: Scrum Masters](https://rb.gy/zwxe6g)

If yes, you might have not got this! 😊

[2021-03-18 17:53] praveenscience opened #83 "ReadMe: Add Day 3 Video Link"
Very quick one for whoever is trying out Open Source for the first time, can someone add the Video 3's link for tomorrow?

[code]
Just remember, this is just for practice, no points will be awarded or no labels will be added. If you wanna practice, I can assign you. 😊

Up for grabs! ✋🏻

[2021-03-18 17:53] praveenscience commented on #72
@Nishayadav-bit In case, if you wanna do something quick and simple, just adding one line - remember, no points for this, just to practice, you can try this PR right now. But next time, speak to us in the Discord channel. 😊

Will you pick this one: https://github.com/praveenscience/Internship-LMS-FrontEnd/issues/83?

[2021-03-18 18:37] gaurav24072002 commented on #83
yah ! sure I'll do it 😄

[2021-03-18 18:40] praveenscience commented on #83
@gaurav24072002 Wait for some time... I am waiting for @Nishayadav-bit to pick this up. If she doesn't pick it up by tomorrow, you can do it. 😅

[2021-03-18 18:57] Nishayadav-bit commented on #83
Yes I will do it

[2021-03-18 18:57] gaurav24072002 commented on #83
ok

[2021-03-18 19:10] praveenscience commented on #83
@Nishayadav-bit Check what @gaurav24072002 did and see what I said in the comments. #84. Just follow the same. It's yours. Finish it in 10 mins please.

[2021-03-19 07:44] Deek9399 commented on #61
Just made a PR. Please review and let me know if any further improvements are required.

[2021-03-19 09:13] #69 closed

[2021-03-19 09:19] #83 closed

[2021-03-19 09:30] DevrajDC opened #86 "Set up the basic App and Routing"
Hey @praveenscience, please create these as a base to work on:

- Environment Setup
- Project Setup
- Husky Setup
- React Basics
- Router Setup
- Skeleton for Files

[2021-03-19 09:57] tanya070820 opened #87 "for contacting Email id should be provided"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like...**

**Describe alternatives you've considered?**

**Approach to be followed (optional):**

**Additional context**

[2021-03-19 09:59] praveenscience commented on #72
@Spring-dot If you're here on the Live Stream, you may start working on this or this might go to another person who's claiming in the Live Stream. We need the following:

- System Requirements
- Installation & Setup
- Running the Code

Is there anything else that can be added?

[2021-03-19 10:03] Elizah550 commented on #72
Yay!!
I wanna Pick it up
Thanks !!!

[2021-03-19 10:03] AshuKV commented on #72
Hey, Please assign it to me.

[2021-03-19 10:05] praveenscience commented on #72
@Elizah550 Wins it. 😊 You have 10 hours to finish this.

[2021-03-19 10:11] praveenscience commented on #87
@tanya070820 Are you in the [Live Stream](https://rb.gy/dxbpze)? Why did you raise this issue before discussing? Let's discuss one to one.

[2021-03-19 10:11] #87 closed

[2021-03-19 10:15] Spring-dot commented on #72
@praveenscience I am having practical class, so cannot attend live stream, can I continue work on this?

[2021-03-19 10:20] praveenscience commented on #72
@Spring-dot Yes, exams come first! I asked everyone and @Elizah550 as well, and I'd like to reassign it to you back. @Elizah550 I'll find something nice for you! 👍

![image](https://user-images.githubusercontent.com/1830380/111765818-bb162b00-889c-11eb-8648-bb6e3f79e87a.png)

[2021-03-19 10:22] Spring-dot commented on #72
Thanks @praveenscience, I will finish it within deadline.

[2021-03-19 10:25] praveenscience commented on #72
@Spring-dot We're discussing and fighting for your rights, you should come and check out the [Live Stream](https://rb.gy/dxbpze) after your class.

[2021-03-19 10:43] praveenscience commented on #86
Let's fix the rest tomorrow or soon! 😊

[2021-03-19 18:11] mohammedjameel24 opened #89 "Dark theme UI"
Dark theme UI

[2021-03-19 18:40] satyampandeygit commented on #20
Hello Praveen I want to work on this issue, please find below answers to the above questions

- I understand what is required if any help will be required I will ask here itself
- I know how Netlify works but I have not done such integration before but would love to do this one
- I am in GSSOC, if you will change tags then it will add to my points. I am fine in another way also would love to contr

[2021-03-19 19:22] praveenscience commented on #89
Unclear totally. And not in the right format. Please explain next time when you open it. 😊

[2021-03-19 19:22] #89 closed

[2021-03-19 19:23] praveenscience commented on #20
@satyampandeygit Did you message something here?

[2021-03-21 09:15] ShambhaviSharma0110 commented on #86
Hey I'd like to work on this please assign me....

[2021-03-21 09:22] praveenscience commented on #86
@ShambhaviSharma0110 Are you really serious about this? 😅

[2021-03-21 09:23] praveenscience commented on #86
@ShambhaviSharma0110 Are you really serious about this? 😅 If yes, let's do it together on the Live Stream then! ✋🏻

Can you sign up as a [Co-Host](https://events.praveen.science/30-days-of-react/) here?

[2021-03-21 15:08] praveenscience commented on #86
@ShambhaviSharma0110 Still interested? 🤔

[2021-03-22 10:46] starrohan999 commented on #49
@praveenscience  sir how is this poster look for the front end?
![Tech Stack Front end](https://user-images.githubusercontent.com/71714344/111978326-c92cab80-8b29-11eb-94ab-e3be07736e9b.png)

[2021-03-22 12:35] Aman-kumar001 opened #92 "No button to get back to home page form contact us page."
As there is no button to get back to the home page from the contact us page in contact.html from client. Would be glad to contribute under gssoc21.

[2021-03-22 12:54] #92 closed

[2021-03-22 14:37] ShambhaviSharma0110 commented on #86
@praveenscience I'll create a pr tomorrow if it gets merged then you can take a look at it

[2021-03-22 17:35] praveenscience commented on #86
@ShambhaviSharma0110 Are you really reading my comments and are you actively participating in the channel discussions about this? This one's a part of GSSoC 21 right? Also, what do you mean by "if it gets merged then you can take a look at it"?

[2021-03-22 17:41] #67 closed

[2021-03-22 17:42] praveenscience commented on #49
Actually looks really cool. 🔥

[2021-03-22 19:22] starrohan999 commented on #49
I also made it for backend and deployment .

[2021-03-24 14:14] Avishake007 opened #93 "Login and Register page"
I want to work on this issue.
Please assign me for this issue.
I am a gssoc'21 participant and want to work on this issue

[2021-03-24 14:19] praveenscience commented on #93
This issue is invalid. Why did you create an issue without discussing in the DevTernShip Channel first and this issue is not even needed - and clearly conflicts with the project idea.

[2021-03-24 14:19] #93 closed

[2021-03-24 17:55] ampsteric commented on #36
@praveenscience should this issue be closed as you mentioned that we are planning to use something like husky.

[2021-03-24 17:58] ampsteric commented on #20
@praveenscience as it is the admin who needs to link his repo to his own netlify credentials, should I close this issue?

[2021-03-24 17:58] praveenscience commented on #36
@ampsteric This is totally different. This is for the CI CD Pipeline.

[2021-03-24 18:01] ampsteric commented on #36
Ohh okay , actually I saw your comment https://github.com/praveenscience/Internship-LMS-FrontEnd/pull/41#pullrequestreview-610188866 and thought of asking.

[2021-03-24 18:04] praveenscience commented on #20
@ampsteric Once I do it, let's close it. I'll self-assign it to myself.

[2021-03-24 22:46] Abhishekkr93 commented on #20
can I do this, could you please assign me.

[2021-03-26 07:18] anushkajain6459 opened #94 "Readme: Add code of conduct section"
**I was looking forward to add code of conduct section in the readme file . Please tell me if I can move forward with it.**

[2021-03-26 07:18] dudenayak opened #95 "ReadMe: Add FAQ Section"
**I was looking forward to add FAQs Section in the ReadMe file.**

[2021-03-26 07:41] riyaverma338 commented on #95
Hi, I would like to work on this.

[2021-03-26 07:43] riyaverma338 commented on #94
Hi, I would like to work on this, can you suggest me the ways to get started?

[2021-03-26 08:22] raks924 commented on #95
hey can i work on this?

[2021-03-26 08:28] praveenscience commented on #94
@anushkajain6459 It's all yours.
@riyaverma338 I'll find you one more. 😊

[2021-03-26 08:28] praveenscience commented on #95
@dudenayak It's all yours.
@riyaverma338 and @raks924 I'll find you both something nice - please message me on Discord channel. 😊

[2021-03-26 18:41] Kavs-123 commented on #94
Hey @praveenscience,
I am interested to work on this issue and add the desired Code Of Conduct in the Readme file. Please assign me the same.

[2021-03-26 18:42] praveenscience commented on #94
@Kavs-123 It's already assigned to @anushkajain6459. 😊  Talk to me in Discord, I'll find something nice to you to work on.

[2021-03-27 05:13] riyaverma338 commented on #94
No problem!😊

[2021-03-28 19:29] preetiahuja18 opened #99 "Design a logo for DevTernShip"
Let's see if someone can come up with a better design than what's there right now. I would really ask you to have a look at the following:

- [10 Top Logo Design Trends for 2021](https://99designs.co.uk/blog/trends/logo-design-trends/)
- [Top 20 Logo Design Trends For 2021 - Logo Design](https://www.thelogocreative.co.uk/top-20-logo-design-trends-for-2021/)
- [Logo Design Trends in 2021 to Drive y

[2021-03-28 19:51] praveenscience commented on #99
Issues should be descriptive.

[2021-03-29 14:46] preetiahuja18 commented on #99
How's that ? @praveenscience
![logo devternship](https://user-images.githubusercontent.com/72223546/112854309-5c865380-90cb-11eb-8f3b-192c1cc7930f.jpg)

[2021-03-29 14:50] praveenscience commented on #99
@preetiahuja18 I have sent you a couple of inspirations to look at. 😊  This is a good attempt but best suited for early 1990s. 🤘🏻

[2021-03-30 05:16] ishwari20 commented on #99
I have also made a good logo for Devternship. @praveenscience please assign this issue to me as well.

[2021-03-30 07:00] praveenscience commented on #99
@ishwari20 Show us what you have done! 😊

[2021-03-30 07:11] ishwari20 commented on #99
![DEVTERNSHIP](https://user-images.githubusercontent.com/56400099/112948029-28f00b80-9155-11eb-9fea-5caa50453b9c.png)

[2021-03-30 07:16] praveenscience commented on #99
@ishwari20 I guess it's time I'll update the main issue. Kindly check the first issue comment and come back with a nice one?

[2021-03-30 07:29] ishwari20 commented on #99
Yes sir

[2021-03-30 16:57] ayu222220 commented on #99
Can you assign me? Would like to work on it Gssoc'21

[2021-03-31 08:15] gaurav24072002 opened #100 "Adding Routing and connecting it to the Header"
**Describe the solution you'd like...**
I would like to add the basic routing of our project using React.js which will be in header and will include :
- Home(Dash Board) , About , Login/Sign up Contact us .(Please tell me if more to be added )

**Approach to be followed (optional):**
- I would create different components for The Header , The Navbar
- add routing for different pages to be followed

[2021-03-31 08:49] praveenscience commented on #100
Cool man, let's take it up in the Live Stream... 🔥 We'll finish Husky soon. 🤘🏻

[2021-03-31 10:22] rk05-lenavo commented on #95
sir I'm the participant of GSSOC'21. Can you please assign me this issue.

[2021-03-31 10:32] rk05-lenavo commented on #99
@praveenscience I'm the Participant of GSSOC'21.Can You Please assign me this issue.

[2021-03-31 11:07] praveenscience commented on #99
@rk05-lenavo Assigned. Let's see what you're coming up with.

[2021-03-31 11:08] praveenscience commented on #95
@rk05-lenavo Please tell me what are you planning to do? 😁

[2021-03-31 12:20] rk05-lenavo commented on #95
@praveenscience Sir what I was thinking is that some information about opensource code, How to work with it including GSSOC.

[2021-03-31 12:22] praveenscience commented on #95
@rk05-lenavo Is this not added here in this?
https://github.com/praveenscience/Internship-LMS-FrontEnd/pull/98/files

[2021-03-31 12:30] rk05-lenavo commented on #95
@praveenscience Yup some of them. Actually sir I was thinking of including how to start with git why not to work on the master branch.

[2021-03-31 12:51] praveenscience commented on #95
@rk05-lenavo Sure, then once this PR is completed, you can create another PR. Assigning it to you, okay? Just wait till #98 is merged, Okay?

[2021-03-31 13:53] rk05-lenavo commented on #99
@praveenscience  Sir is this okay.

![logo](https://user-images.githubusercontent.com/68415300/113155274-7acc8a80-9256-11eb-910f-1187e0a6449e.png)

[2021-03-31 13:54] praveenscience commented on #99
@rk05-lenavo Okay good attempt. But can you try something attractive from the list on the top? Thanks. 😁

[2021-03-31 13:55] praveenscience commented on #95
@rk05-lenavo You're welcome.

[2021-03-31 13:55] rk05-lenavo commented on #99
@praveenscience Sure sir

[2021-03-31 14:28] rk05-lenavo commented on #99
@praveenscience Sir is this Okay.
![logo1](https://user-images.githubusercontent.com/68415300/113160817-72c31980-925b-11eb-8e32-24efcacf84be.png)

[2021-03-31 14:30] praveenscience commented on #99
@rk05-lenavo Free logo makers aren't that good. This is no where professional buddy. Can you please come up with any own designs?

[2021-03-31 14:35] praveenscience commented on #99
People who work on this, please see this: [2021 Logo Design Inspirations](https://cdn.mos.cms.futurecdn.net/GHx7uoWJGoXYdCcVkgxjNk-970-80.png)

[2021-03-31 14:41] rk05-lenavo commented on #99
@praveenscience okay sir I'll try again

[2021-03-31 16:23] praveenscience commented on #95
@rk05-lenavo Start working on this.

[2021-03-31 16:38] rk05-lenavo commented on #95
@praveenscience Okay Sir.

[2021-04-01 17:05] #36 closed

[2021-04-03 17:46] #95 closed

[2021-04-04 01:03] akshay1027 opened #104 "Feature request, Links in the readme to open in a new tab"
**Is your feature request related to a problem? Please describe.**

Links in the readme to open in a new tab so that it is easier for the user to navigate back to GitHub codebase.

[2021-04-04 05:08] aditi1403 opened #106 "Fix Grammatical Errors in ReadMe."
I have made some grammatical edits to the README.md file. Kindly refer to PR #105.

[2021-04-04 06:31] praveenscience commented on #104
I don't think this is even possible. It's a part of GitHub's Readme design. Don't you feel the same? What's your idea about solving this? Let me know. 🤔

[2021-04-04 06:36] praveenscience commented on #106
Alright, you have done a great job, but please next time, ask me before opening a new issue, thanks. 😁 Are you a part of GSSoC or any other programmes?

[2021-04-04 10:13] akshay1027 commented on #104
I found a solution to this on StackOverflow, here is the link: https://stackoverflow.com/questions/3492153/markdown-open-a-new-window-link , but as you are saying its not possible i guess. Can you please share any other solutions, if anything can be done to address this

[2021-04-04 10:19] praveenscience commented on #104
@akshay1027 Nopes, we're not doing this. I knew this before. But it's not worth. There's then no difference between having a website inside readme then! I'll file this as a bug / issue or a feature request to GitHub platform. That's what we need to do regarding this. 😊

Markdown stays Markdown, not breaking any rules there. 👍  Should we close this one now?

[2021-04-04 10:22] shobit1337 commented on #99
@praveenscience Here is something I tried, Tell me how's it look? Tried logo making for the first after several hours I came up with this :sweat_smile:
![Artboard 1](https://user-images.githubusercontent.com/37979367/113505609-9341eb00-955d-11eb-882f-2954309f0047.png)

[2021-04-04 10:30] praveenscience commented on #99
@shobit1337 Good for a banner mate. Not a logo. Looking more in terms of the initial comment. Check the trends.

[2021-04-04 11:22] ayu222220 commented on #99
![Uploading DEVINTERship.png…]()

[2021-04-04 11:24] ayu222220 commented on #99
![DEVINTERship](https://user-images.githubusercontent.com/65357585/113507153-66460600-9566-11eb-8d60-ad5c1ebc4c69.png)

[2021-04-04 11:54] akshay1027 commented on #104
yes, i will close it!

[2021-04-04 11:54] #104 closed

[2021-04-04 14:48] Spring-dot commented on #81
@praveenscience who is working on wireframes? Have we completed this part? Sorry I missed last week updates.

[2021-04-04 15:05] aditi1403 commented on #106
Really sorry about that.
Yes I am a GSSoC participant

[2021-04-04 19:34] #72 closed

[2021-04-04 22:50] praveenscience commented on #81
@Spring-dot Those two: Deepak and Devraj

[2021-04-05 12:30] Spring-dot commented on #81
I will work on this.

[2021-04-05 15:47] Elizah550 commented on #99
Hey folks can I try it ? . Is the issue done or still incomplete ?

[2021-04-05 16:10] srishtij2000 commented on #81
Can I work on this issue?

[2021-04-05 19:04] praveenscience commented on #99
@Elizah550 Go on... 😊  Please...

[2021-04-05 20:29] praveenscience commented on #81
@srishtij2000 Yes, please... Start the work... 🔥

[2021-04-06 03:28] Deepak-dex commented on #81
May i also work on this ?

[2021-04-06 05:53] praveenscience commented on #81
@Deepak-dex You have to! 😅

[2021-04-06 11:13] NemaVatsala commented on #99
@praveenscience I'm a Participant of GSSOC'21.Could i try this as well?

[2021-04-06 11:26] praveenscience commented on #99
@NemaVatsala Yes please. 🔥

[2021-04-06 11:29] ayu222220 commented on #99
@praveenscience  Would you review this please?

[2021-04-06 11:30] praveenscience commented on #99
What's the difference between this and your previous submission @ayu222220? Please clarify.

[2021-04-06 11:34] ayu222220 commented on #99
Nothing, I qouted it so that you can review it.

[2021-04-06 11:34] praveenscience commented on #99
Already reviewed. 🔥

[2021-04-06 11:35] praveenscience commented on #99
@ayu222220 If you ask me for a feedback, please review the links in the first message. Thanks.

[2021-04-06 11:36] ayu222220 commented on #99
Sorry but it wasn't visible to me.
Can you tell me once more so that I can go for modification.
@praveenscience

[2021-04-06 11:37] praveenscience commented on #99
@ayu222220 Please check the first message's links and see the logos, something like that.

[2021-04-06 11:54] Elizah550 commented on #99
Hey folks !! I just gave a try how is it
![Screenshot (41)](https://user-images.githubusercontent.com/43481897/113706816-bd7ddf00-96fc-11eb-9201-9439f8229c4f.png)

[2021-04-06 12:03] praveenscience commented on #99
@Elizah550 Actually the logo seems nice. Really.

[2021-04-06 12:17] Elizah550 commented on #99
Ok I will Thanks !!

[2021-04-06 12:54] rockstr99 commented on #100
assign it to me, i can do this.

[2021-04-06 12:54] rockstr99 commented on #100
/assign

[2021-04-06 12:57] #106 closed

[2021-04-06 12:57] praveenscience commented on #100
@rockstr99 See the above discussion and come back. 😁

[2021-04-06 12:59] rockstr99 commented on #100
oops, okay.

[2021-04-07 16:42] SUCHITRAGIRI opened #107 "Instead of "master" should be written "main" in readme"
**Describe the Bug**

In the readme file want to update with some changes in this section.
"Why is the master branch so important to not mess with?"
As we know that "master" is replaced with "main" so want to update the readme according to this!

Please assign this issue to me!!

[2021-04-07 17:25] praveenscience commented on #107
We're not taking any documentation changes. But feel free to fix it. Won't be putting GSSoC 21 labels. Is that alright? Because this doesn't make any impact for the project.

[2021-04-07 17:31] SUCHITRAGIRI commented on #107
Okay, I got your point!
Means related to this PR will not be counted right?

[2021-04-07 17:31] praveenscience commented on #107
That's correct, but you get a green square in GitHub! 🚀

[2021-04-07 17:33] SUCHITRAGIRI commented on #107
haha!!.. fine

[2021-04-08 07:30] NemaVatsala commented on #99
![d](https://user-images.githubusercontent.com/70408681/113985930-4ebe9400-986a-11eb-857e-caf297120368.png)
I can make a few changes if required.

[2021-04-08 07:53] praveenscience commented on #99
@NemaVatsala You just rocked it! I really love this... ❤️

[2021-04-08 09:10] NemaVatsala commented on #99
Glad you liked it :)- its @Vatsala(P) on GS channel

[2021-04-08 09:12] praveenscience commented on #99
@NemaVatsala There are many vatsalas... Which one are you? Tell me your full Discord ID with that 4 numbers.

[2021-04-08 09:13] NemaVatsala commented on #99
this is the id: Vatsala#2290, 1st one

[2021-04-08 10:53] praveenscience commented on #99
@NemaVatsala Can you raise a new section in the ReadMe: Branding and then add these logos? 😊  It's yours now.

[2021-04-08 13:27] NemaVatsala commented on #99
Sure.

[2021-04-08 13:27] NemaVatsala commented on #99
Sure.

[2021-04-10 12:01] Spring-dot commented on #81
https://drive.google.com/drive/folders/124rjjknUg7rF-TQY_ojUjBjEDrzD464Y?usp=sharing
In this drive I have added few designs, please go through this and  @Deepak-dex  @srishtij2000 you people can also add your files here, It will be easy for everyone to track our work. I was not able share link on discord :(
Rest, Can any mentor tell in user account setting what we are planning to do? For that page

[2021-04-10 16:18] srishtij2000 commented on #81
Okay okay thankyou

[2021-04-10 18:20] Insomaniacgamer commented on #81
@praveenscience am loving the designs should we approve them ?

[2021-04-10 18:33] srishtij2000 commented on #81
Please check my design and kindly give the feedback

[2021-04-10 18:34] srishtij2000 commented on #81
Kindly give the feedback so that I can make the changes accordingly in the rest of the designs also

[2021-04-10 18:40] praveenscience commented on #81
@srishtij2000 Just came out of meeting... Lemme check...

[2021-04-10 18:40] praveenscience commented on #81
@srishtij2000 Where's your design?

[2021-04-10 18:40] srishtij2000 commented on #81
In the drive
https://drive.google.com/drive/folders/124rjjknUg7rF-TQY_ojUjBjEDrzD464Y?usp=sharing

[2021-04-10 18:41] praveenscience commented on #81
Oh, okay, I didn't know you have added something too. Let me check...
/cc @Insomaniacgamer

[2021-04-10 18:43] praveenscience commented on #81
@Spring-dot @Deepak-dex @srishtij2000
Other than the User Profile page, everything seems to be okay... Let's create a flow... :) Any XD or Figma people? Can you make it better? Consistent with the design?

[2021-04-10 18:44] srishtij2000 commented on #81
I can make it with Figma

[2021-04-10 18:44] srishtij2000 commented on #81
This was only the wireframe

[2021-04-10 18:54] praveenscience commented on #81
Cool, please carry on... In Figma, we'll be able to see how it looks or everything like flow, etc.

[2021-04-10 19:16] srishtij2000 commented on #81
Okay so I'll make it with Figma.

[2021-04-11 15:03] Insomaniacgamer commented on #100
Any update on this ?

[2021-04-11 17:00] shonali2600 opened #108 "Design the home page"
I would like to design the home page for this project. Please assign me this issue as a gssoc participant. I don't have much knowledge of MERN stack, will need your guidance.

[2021-04-11 18:13] praveenscience commented on #100
@Insomaniacgamer This we need to do after our Designs are ready.

[2021-04-11 18:47] srishtij2000 commented on #81
https://www.figma.com/file/9BExnBjnU7fRaupNajbLXa/Project?node-id=0%3A1
I have made the user dashboard wireframe using figma. Kindly check and give the feedback.

[2021-04-11 18:49] praveenscience commented on #108
Hi @shonali2600 Thanks for this. We already have an ongoing one #81. Do you think this is a dupe? If so, you may close it and join them in doing it. 🔥

[2021-04-11 18:55] praveenscience commented on #81
@srishtij2000 Mainly we asked for figma is for the flow diagram... Let me share you a sample... 🚀

[2021-04-12 08:56] vedant-jain03 opened #109 "Want to add Preloader"
I want to add preloader functionality to the website so that it looks more great.

I will use Lazy, Suspense components.

Preloader

[2021-04-12 08:57] vedant-jain03 commented on #109
@praveenscience Please assign me if this is valid issue

[2021-04-12 09:03] praveenscience commented on #109
This is a good one to consider, but once the design is over, is that alright? But Lazy & Suspense are in beta right? Can you correct me if I am wrong? 🤔

[2021-04-12 09:09] vedant-jain03 commented on #109
Its alright to assign after design is over
Yes they are beta but I have already contributed using lazy and suspencse in other projects as well in react like kurakoo and doc2pen

[2021-04-12 12:49] praveenscience commented on #109
Okay cool. I am still concerned about the beta nature. But let's see.

[2021-04-14 08:06] srishtij2000 commented on #81
This file is not opening

[2021-04-14 08:34] praveenscience commented on #81
Do you have Figma with you?

[2021-04-14 09:17] srishtij2000 commented on #81
Yes

[2021-04-14 09:30] srishtij2000 commented on #81
But I use the windows app

[2021-04-15 10:31] Spring-dot commented on #81
@praveenscience I will update tomorrow with the flow diagram. @srishtij2000 any progress?

[2021-04-17 09:12] srishtij2000 commented on #81
I am unable to figure out that how can I make a flow diagram so can anyone please help me?

[2021-04-17 10:38] praveenscience commented on #81
@Spring-dot Can you help @srishtij2000? Can we please finish it by today? 😢
/cc @Insomaniacgamer

[2021-04-19 08:28] srishtij2000 commented on #81
@Spring-dot please help I am still stuck

[2021-04-19 09:18] Spring-dot commented on #81
@srishtij2000 I have already made the design, check the discord channel.

[2021-04-19 09:23] Insomaniacgamer commented on #81
@Spring-dot please link up here too , loosing context in discord is too easy
// cc @praveenscience

[2021-04-19 10:00] Spring-dot commented on #81
Flow map: https://drive.google.com/file/d/1oNx0eAEpnyqtqz17votFGa7UD9SOK9nl/view?usp=sharing
Design: https://balsamiq.cloud/s165djm/pcggtav

[2021-04-19 10:55] saimanoharhm commented on #81
@praveenscience Sir, Could you please assign this to me.

[2021-04-19 11:31] Insomaniacgamer commented on #81
@Spring-dot can you share design in any other more secure platform ?

[2021-04-21 04:28] SnehaVeerakumar commented on #81
I would like to join the people here :)

[2021-04-21 13:36] sowmiya-venkatesan commented on #99
I just love to contribute here, Do check my logos, and let me know if it is okay or not? @praveenscience

![Devternship (3)](https://user-images.githubusercontent.com/74345706/115562714-64a16f80-a2d4-11eb-91d2-df3330a951c3.png)
![Devternship (2)](https://user-images.githubusercontent.com/74345706/115562721-65d29c80-a2d4-11eb-9963-37984532203b.png)
![Devternship (1)](https://user-images.githubuserc

[2021-04-21 14:30] alphaX86 commented on #99
The logo looks nice @sowmiya-venkatesan

[2021-04-21 14:36] sowmiya-venkatesan commented on #99
Thank you !!

[2021-04-23 09:07] #108 closed

[2021-04-26 06:59] subhangi2731 commented on #20
please assign this to me

[2021-04-26 09:08] praveenscience commented on #20
@subhangi2731 I have assigned it to you.

[2021-04-27 07:58] #81 closed

[2021-04-28 16:17] praveenscience commented on #107
@SUCHITRAGIRI Not doing this?

[2021-04-28 16:20] #107 closed

[2021-05-07 17:34] gargijs commented on #20
I want to work on this

[2021-05-07 17:47] Abhishekkr93 commented on #20
I want to fix this, please assign me.

[2021-05-07 21:18] praveenscience commented on #20
Let's meet on Monday to check the status of this:
- @subhangi2731 (It's been 12 days and no response)
- @gargijs (You have time till Monday!)
- @Abhishekkr93 (You have time till Monday!)

[2021-05-08 15:15] praveenscience commented on #99
@gargijs What do you wanna work on? 🤔  I don't understand. Maybe show some designs... 🔥
@NemaVatsala You ready any time?

[2021-05-10 04:53] subhangi2731 commented on #20
@praveenscience I will make a pr by today

[2021-05-10 04:54] subhangi2731 commented on #20
Sorry I had exams in my college @praveenscience

[2021-05-10 09:35] praveenscience commented on #20
Okay thanks, let me know the progress folks! 🔥

- @subhangi2731 (any updates?)
- @gargijs (any updates?)
- @Abhishekkr93 (any updates?)

[2021-05-10 16:33] praveenscience commented on #20
Any updates folks? By tomorrow, if there's no activity, I am happy to do it myself and implement this... 🔥

[2021-05-14 16:26] praveenscience opened #119 "Organise design folders into docs."
We need to get rid of all the content related to documentation work from the root folder. Move everything to `docs` folder:

- `design_admin`
- `designs`
- `flowchart`
- `design-user.md`

[2021-05-14 16:28] Spring-dot commented on #119
Assign me.

[2021-05-14 16:29] praveenscience commented on #119
Finish it by tomorrow. 😊

[2021-05-15 11:44] Spring-dot commented on #119
@praveenscience I have made PR

[2021-05-15 12:10] NemaVatsala commented on #99
yes, i'll try to add a PR today

[2021-05-15 12:17] #119 closed

[2021-05-15 12:18] praveenscience commented on #99
@gargijs Any progress?

[2021-05-16 22:22] #99 closed

[2021-05-26 14:44] saimanoharhm opened #123 "Feature request: Landing Page"
**Is your feature request related to a problem? Please describe.**

There is no landing page

**Describe the solution you'd like...**

I would like add a Landing page as per the design with a fully responsive page.

**Describe alternatives you've considered?**

NO

**Approach to be followed (optional):**

I will use react framework to work on this particular issue.

**Additional context**

[2021-05-26 14:44] saimanoharhm commented on #123
@praveenscience Could you please assign this for me.

[2021-06-30 18:15] Umesh-01 opened #124 "add some badges and make them of single type"
**Is your feature request related to a problem? Please describe.**
I will add some more badges to the top of readme.md file and make them of single type so that it will look more interactive and awesome, since the badges will be colorful and more attractive than the text the users will like it and it will also help them to navigate to different sections/ webpages like PRs, issues, contributors, et

[2021-06-30 18:16] Umesh-01 commented on #124
@praveenscience sir should I make these changes??

[2021-06-30 23:17] praveenscience commented on #124
@Umesh-01 Looks good, go for it... 😊

[2021-07-03 11:24] #124 closed

[2021-08-10 05:27] Shivangi-27 commented on #76
![image](https://user-images.githubusercontent.com/72151453/128812841-a4bbbcbf-5fa7-4eba-b8ca-8273727504ab.png)
 We can create our footer like this also and adding a newsletter part above the social media icons

[2021-08-17 19:54] praveenscience commented on #76
Nice. But we don't have any app at all right, @Shivangi-27?

[2021-08-17 19:58] Shivangi-27 commented on #76
Yaa, we can improvise it. This is a demo footer that I made for my website.

[2021-08-19 04:34] Amankesarwani2202 commented on #123
Sir could you please assign to me?

[2021-08-19 10:30] praveenscience commented on #123
Sure @Amankesarwani2202, I'll assign it to you! 😊

[2021-08-19 11:08] #123 closed

[2021-08-20 09:19] praveenscience commented on #76
Yea, try your magic @Shivangi-27

[2021-08-24 10:55] praveenscience commented on #109
@vedant-jain03 Go ahead and implement if you're ready. I can assign you if you want.

[2021-08-24 13:06] AbhipsaGuru1012 opened #128 "Feature request"
**Is your feature request related to a problem? Please describe.**

Currently the website doesn't have a footer

**Describe the solution you'd like...**

I would like to add the footer in the landing page

**Describe alternatives you've considered?**

**Approach to be followed (optional):**

**Additional context**

[2021-08-24 13:12] AbhipsaGuru1012 commented on #128
@praveenscience Sir I would like to work on this issue. Please assign it to me

[2021-08-24 13:13] praveenscience commented on #128
Okay sure, go on.

[2021-08-25 11:13] AbhipsaGuru1012 commented on #128
@praveenscience Sir I have made a PR. Please let me know if the changes are okay

[2021-08-25 13:26] vave4 commented on #20
Can I try solving this issue?

[2021-08-25 13:57] praveenscience commented on #20
Yes, sure @vave4

[2021-08-25 15:19] #128 closed

[2021-08-28 10:40] swathi-469 commented on #76
If the issue is available or others not working on it .. I can do it

[2021-08-28 17:56] ampsteric commented on #86
Hi @praveenscience long time no see.
please let me know if this is still pending , I would surely want to give it a try.

[2021-08-29 06:53] Ash515 opened #130 "Slack integration"
**Is your feature request related to a problem? Please describe.**
There is no any slack bot integrated here to communication with slack community for this product.

**Describe the solution you'd like...**

Yes, this feature highly helpful for making a good community for this product in Slack. A slack bot integration will helps to communicate with others in slack through this web application.

**D

[2021-08-29 07:27] kashishkhaneja commented on #76
Hello,
I am Kashish Khaneja, I want to work on this issue.
 Will be adding a footer with all the social handles and the contact us button for the queries. Also, will add a side bar for social handles.
Is this issue still available?

[2021-08-29 17:37] Jassi10000 commented on #130
@praveenscience I work to give this issue a shot , can you pls assign it to me

[2021-08-30 04:05] Ash515 commented on #130
Sorry @Jassi10000 actually I am going to do this solution for that only I have created an issue.

[2021-08-30 08:55] mansijain980 commented on #100
I already worked on projects of web dev. I want to contribute it and will push PR by today.
Assign it to me asap. Please. @praveenscience

[2021-08-30 18:56] GYANANKUR commented on #109
Can I go with this task? It will be really helpful for me to start contributing towards open source for the first time . I will give my best .

[2021-08-30 20:13] praveenscience commented on #130
Great, why don't you both try to implement it? 👍🏻

[2021-08-30 20:22] Jassi10000 commented on #130
Cool , if @Ash515 is good with this
then am also good

[2021-08-30 20:58] praveenscience commented on #109
@Mayank-Sh07 and @GYANANKUR please try to team up and take it up?

[2021-08-31 03:48] Ash515 commented on #130
Sure !

[2021-08-31 03:49] Ash515 commented on #130
Can I use python for backend module ?

[2021-08-31 04:20] Jassi10000 commented on #130
I guess Node is already mentioned in readme so we have to plan things accordingly

[2021-08-31 04:24] Mayank-Sh07 commented on #109
Sure! @GYANANKUR lets plan it out and start developing.

[2021-08-31 04:25] Ash515 commented on #130
Okay then

[2021-08-31 06:38] GYANANKUR commented on #109
Yes @Mayank-Sh07

[2021-08-31 09:33] abhisheksharma5333 opened #138 "Feature request"
We can add Quiz type section in this project. I have simple design.

[2021-08-31 10:21] Jassi10000 commented on #130
Buddy you can connect with me on my LinkedIn , then we can collab to plan this out

[2021-08-31 13:29] Ash515 commented on #130
Sure! LinkedIn ID  htttps://www.linkedin.com/in/ashwinkumarramasamy/

On Tue, Aug 31, 2021 at 3:51 PM JASKEERAT SINGH ***@***.***>
wrote:

[2021-09-08 07:32] #109 closed

[2021-09-08 07:33] praveenscience commented on #130
Awesome!!! 🔥

[2021-09-08 07:33] praveenscience commented on #138
Awesome, start doing it... 🔥

[2021-09-08 07:37] praveenscience commented on #76
@swathi-469 @kashishkhaneja Please continue... 🔥

[2021-09-08 07:38] #86 closed

[2021-09-08 07:38] praveenscience commented on #86
@ampsteric Sorry, it's been done. 🔥

[2021-09-11 13:56] devesh-anand opened #141 ""event landing page" link under "30 days of react" heading is broken"
The link on line 82 of README.md is broken.

[2021-09-14 15:59] kashishkhaneja commented on #76
For the get in touch part, I have added a Contact us button linked to Gmail.
@swathi-469 can you get in touch with me on linked. Have sent you a connection request. For your reference, I am attaching the screenshots of changes made by me in pull request#134.
![Edit](https://user-images.githubusercontent.com/61909674/133292639-abb24154-9739-4dd9-ba14-39eae5cd6ce1.png)

[2021-09-16 05:23] greykoalacode commented on #141
The link seems fixed @devesh-anand , do check and close it

[2021-09-17 05:34] devesh-anand commented on #141
It's working now.

[2021-09-17 05:34] #141 closed

[2021-10-04 17:11] praveenscience commented on #20
Any updates @vave4?

[2021-11-04 08:14] ugintl opened #152 "WHere is the backend?"
WHere is the backend?

[2021-11-08 22:50] praveenscience commented on #152
No, there's no backend, yet... 😁

[2021-11-08 22:51] #76 closed

[2021-11-08 22:51] praveenscience commented on #138
Any updates?

[2021-11-09 07:54] ugintl commented on #152
+1

[2021-11-09 11:29] praveenscience commented on #152
Yo! That's what I am telling you, there's no backend, as of now... 😅

[2021-11-09 11:29] #152 closed

[2021-11-09 11:30] praveenscience commented on #130
Any updates?

[2021-11-09 11:33] Ash515 commented on #130
Doing sir I have done the blueprint

On Tue, Nov 9, 2021 at 5:00 PM Praveen Kumar Purushothaman <
***@***.***> wrote:

[2021-11-09 11:54] praveenscience commented on #130
Awesome, thanks @Ash515

[2021-11-09 11:56] Ash515 commented on #130
You're welcome!

On Tue, Nov 9, 2021 at 5:25 PM Praveen Kumar Purushothaman <
***@***.***> wrote:

[2022-05-07 12:43] Susmita-Dey opened #175 "Enhance README.md file"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like...**
I want to enhance the README file with some emojis and text.

**Describe alternatives you've considered?**
Null

**Approach to be followed (optional):**

**Additional context**
I'm a GSSoC'22 contributor. Kindly assign this issue to me.